.Playground {
  text-align: center;
  /* position: relative; */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rateForm {
  border-style: solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.rateForm input {
  width: 40%;
  height: 10px;
  margin-top: 20px;
  /* float: left; */
}

.rateForm label {
  /* float: left; */
  margin: 10px;
}

.moreInfo {
  margin: 10px;
}

.moreInfo a {
  color: #fff4e6;
  text-decoration: none;
}

.moreInfo a:hover {
  color: black;
  text-decoration: underline;
}